main {
    width: min(100% - 2rem, 70ch);
    margin-inline: auto;

    &>*+* {
        margin-block-start: 1em;
    }
}

.form-control {
    display: flex;
    flex-direction: column;
}

.log-activity {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;

    &__log-button {
        margin-inline-start: auto;
    }
}

.activities {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    &__head,
    &__body {
        grid-column: 1 / -1;

        display: grid;
        grid-template-columns: subgrid;
        grid-template-rows: subgrid;
    }

    &__body {
        grid-row: body;
        grid-row: 2 / calc(2 + var(--item-count));
    }
}

.table-row {
    grid-column: 1 / -1;

    display: grid;
    grid-template-columns: subgrid;
    grid-template-rows: subgrid;
}

.sort {
    cursor: pointer;

    &--desc::after {
        content: '🔽';
    }

    &--asc::after {
        content: '🔼';
    }
}